<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIBJY3la2j6MCw_mGHArjt8pm6bwhwc54</string>
	<key>GCM_SENDER_ID</key>
	<string>679614705996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikasalia.Roll2Do</string>
	<key>PROJECT_ID</key>
	<string>roll2do</string>
	<key>STORAGE_BUCKET</key>
	<string>roll2do.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679614705996:ios:20628e538f04f18112dfe9</string>
</dict>
</plist>